/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.account-btn-menu{
	position: relative;
}
.account-btn-menu .dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  width: 120px;
  margin-left: -50px;
  background-color: #f1f1f1;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.account-btn-menu .dropdown-content a {
  color: black;
  margin-top: 10px;
  text-decoration: none;
  display: block;
}
.account-btn-menu .dropdown-content a:first-child{
	margin-top: 0px;
	border-bottom: 2px solid black;
}
.account-btn-menu .dropdown-content a:hover {
	background-color: #ddd;
}
.account-btn-menu:hover .dropdown-content{
	display: block;
}